<div class="special">
    <div class="services-info">
      <!-- <h2>Hình Ảnh Thiết Kế</h2> -->
      <h2> <p><b> Hình Ảnh Thiết Kế </b></p></h2>
    </div>
    <div class="special-grids">
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img">
        </div>

        <div class="col-md-6 agileits-special-info w3-grid-1 ">
            <h4>{{data[0].ten_mautk}}</h4>
          <p>{{data[0].noidungmautk}}</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img wthree-img">
          
        </div>
        <div class="col-md-6 agileits-special-info w3-grid-2 ">
          <h4>{{data[1].ten_mautk}}</h4>
          <p>{{data[1].noidungmautk}}</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info w3-grid-3 ">
          <h4>{{data[2].ten_mautk}}</h4>
          <p>{{data[2].noidungmautk}}</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img2">
          
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info w3-grid-4">
          <h4>{{data[3].ten_mautk}}</h4>
          <p>{{data[3].noidungmautk}}</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img3">
          <div class="wpf-demo-6">
            
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
</div>