<div class="special" id="design">
    <div class="services-info">
      <!-- <h2>Hình Ảnh Thiết Kế</h2> -->
      <h2> <p><b> Hình Ảnh Thiết Kế </b></p></h2>
    </div>
    <div class="special-grids">
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img">
        </div>

        <div class="col-md-6 agileits-special-info w3-grid-1">
            <h4>{{design[0].ten_mautk}}</h4>
          <p>{{design[0].noidungmautk}}</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img wthree-img">

        </div>
        <div class="col-md-6 agileits-special-info w3-grid-2 ">
          <h4>{{design[1].ten_mautk}}</h4>
          <p>{{design[1].noidungmautk}}</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info w3-grid-3 ">
          <h4>{{design[2].ten_mautk}}</h4>
          <p>{{design[2].noidungmautk}}</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img2">

        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info w3-grid-4">
          <h4>{{design[3].ten_mautk}}</h4>
          <p>{{design[3].noidungmautk}}</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img3">
          <div class="wpf-demo-6">

          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
</div>
