<div class="services" id="services">
  <div class="container">
    <div class="ser-top wthree-3 wow fadeInDown w3-service-head">
      <h3><b> Thi Công </b> </h3>
    </div>
    <div class="w3-service-grids set-6">
      <div class="col-md-4  services-w3-grid1 ser-left wow fadeInDown icon1 hi-icon-wrap hi-icon-effect-6">
        <span class="glyphicon glyphicon-home hi-icon hi-icon-home" aria-hidden="true"></span>
        <h4>Lorem ipsum </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin  vestibulum velit.Lorem ipsum ultricies vestibulum velit</p>
      </div>
      <div class="col-md-4  services-w3-grid1 ser-left wow fadeInDown icon2 hi-icon-wrap hi-icon-effect-6">
        <span class="glyphicon glyphicon-sort-by-attributes hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></span>
        <h4>ultrices interd</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum Lorem ipsum velit vestibulum velit.</p>
      </div>
      <div class="col-md-4 services-w3-grid1 ser-left wow fadeInDown icon3 hi-icon-wrap hi-icon-effect-6">
        <span class="glyphicon glyphicon-object-align-vertical hi-icon hi-icon-object-align-vertical" aria-hidden="true"></span>
        <h4>blandit ornare</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum Lorem ipsum velit vestibulum velit.</p>
      </div>
      <div class="col-md-4 services-w3-grid2 ser-left wow fadeInDown icon4 hi-icon-wrap hi-icon-effect-6">
        <span class="glyphicon glyphicon-send hi-icon hi-icon-send" aria-hidden="true"></span>
        <h4>imperdiet pretium </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum Lorem ipsum velit vestibulum velit.</p>
      </div>
      <div class="col-md-4 services-w3-grid2 ser-left wow fadeInDown icon5 hi-icon-wrap hi-icon-effect-6">
        <span class="glyphicon glyphicon-briefcase hi-icon hi-icon-briefcase" aria-hidden="true"></span>
        <h4>Aliquam erat</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit Lorem ipsum vestibulum velit.</p>
      </div>
      <div class="col-md-4 services-w3-grid2 ser-left wow fadeInDown icon6 hi-icon-wrap hi-icon-effect-6"  data-wow-duration=".8s" data-wow-delay=".2s">
        <span class="glyphicon glyphicon-time hi-icon hi-icon-time" aria-hidden="true"></span>
        <h4>auctor mauris </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit dolor sit amet vestibulum velit.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
