<!--/main-header-->
<!-- about -->
<app-about></app-about>
<!-- //about -->

<!-- special -->
<app-designs></app-designs>
<!-- //special -->

<!-- construction -->
<app-construction></app-construction>
<!-- /construction -->

<!-- gallery -->
<div class="gallery team-bottom" id="gallery">
  <div class="container">
    <div class="w3l_head w3l_head1">
    <h3>Latest Gallery</h3>
    </div>
    <div class="w3layouts_gallery_grids">
      <ul class="w3l_gallery_grid" id="lightGallery">
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets//images/gal1234.jpg" data-responsive-src="/images/gal1234.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal1234.jpg" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal2.jpg" data-responsive-src="assets/images/gal2.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal2.jpg" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal3.jpg" data-responsive-src="assets/images/gal3.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal3.jpg" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal4.jpg" data-responsive-src="assets/images/gal4.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal4.jpg" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal55.jpg" data-responsive-src="assets/images/gal55.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal55.jpg" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal5.jpg" data-responsive-src="assets/assets/images/gal5.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal5.jpg" alt=" " class="assets/img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal6.jpg" data-responsive-src="assets/images/gal6.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal6.jpg" alt=" " class="img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal7.jpg" data-responsive-src="assets/images/gal7.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal7.jpg" alt=" " class="assets/img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
        <li data-title="Home Design" data-desc="Lorem Ipsum is simply dummy text of the printing." data-src="assets/images/gal8.jpg" data-responsive-src="assets/images/gal8.jpg">
          <div class="w3layouts_gallery_grid1 box">
            <a href="#">
              <img src="assets/images/gal8.jpg" alt=" " class="assets/img-responsive" />
              <div class="overbox">
                <h4 class="title overtext">Crazy design</h4>

              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //gallery -->

<!-- testimonials -->

<!-- //testimonials -->

<!-- team -->
<app-teams></app-teams>
<!-- team -->

<!--/contact-->
<div class="w3-contact" id="contact">
<div class="content-w3ls agileits w3 wthree w3-agile w3-agileits agileinfo agile">
<form action="#" method="post" class="form-agileits">
  <h3 class="w3-contact-form-head">Contact Us</h3>
  <input type="text" id="username" name="username" placeholder="USERNAME" title="Please enter your First Name" required="">
  <input type="email" id="email" name="email" placeholder="MAIL@EXAMPLE.COM" title="Please enter a Valid Email Address" required="">
  <input type="text" id="phone" name="email" placeholder="TELEPHONE" title="Please enter a Valid Telephone number" required="">
  <input type="text" id="subject" name="email" placeholder="SUBJECT" title="Please enter a subject" required="">
  <textarea id="message" name="message" placeholder="YOUR MESSAGE" title="Please enter Your Comments"></textarea>
  <input type="submit" class="sign-in" value="Submit">
</form>
</div>
</div>
<!--//contact-->
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0297219665244!2d106.6963433148003!3d10.73219099235156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbd7511ad67%3A0xddcbd1e31e664856!2zxJDhuqFpIGjhu41jIFTDtG4gxJDhu6ljIFRo4bqvbmc!5e0!3m2!1svi!2s!4v1507644776733" style="border:0"></iframe>
  <div class="agile_map_grid">
    <div class="agile_map_grid1">
      <h3>Home Modeling</h3>
      <ul>
        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><span>address :</span> 19 Nguyễn Hữu Thọ, TP.HCM</li>
        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>email :</span> <a href="mailto:info@example.com">info@example.com</a></li>
        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><span>call to us :</span> 0123456789</li>
      </ul>
    </div>
  </div>
</div>



<!-- footer section -->
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="col-md-4 col-sm-4 footer-info-grid links">
        <h4>QUICK LINKS</h4>
        <div class="connect-social">
        <ul>
          <li><a href="https://www.facebook.com/quangcaoanbinh/" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.facebook.com/quangcaoanbinh/" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/quangcaoanbinh/" class="social-button google"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-sm-4 footer-info-grid address">
        <h4>ADDRESS</h4>
        <address>
          <ul>
            <li>19 Nguyễn Hữu Thọ</li>
            <li>Q.7, TP. Hồ Chí Minh </li>
            <li>Telephone :123456789</li>
            <li>Email : <a class="mail" href="mailto:mail@example.com">info@example.com</a></li>
          </ul>
        </address>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-sm-4 footer-info-grid email">
        <h4>NEWSLETTER</h4>
        <p>Subscribe to our newsletter and we will inform you about newest projects and promotions. </p>

        <form action="#" method="post" class="newsletter">
          <input class="email" type="email" placeholder="Your email..." required="">
          <input type="submit" class="submit" value="">
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="copyright">
      <p>&copy; 2017 Home Modeling. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
    </div>
  </div>
</div>
<!-- //Footer -->
