<div class="about" id="about">
    <div class="container">
      <div class="w3-about-grid-top">
        <div class="w3-agileits-about-grids">
            <div class="col-md-4 agile-about-left">
              <div class="w3-about-border">
              <h3>{{data[0].ten_demuc}}</h3>
              
              </div>
            
            </div>
            <div class="col-md-8 agile-about-right">
                <div class="w3l-banner-grids">
                  <div class="slider">
                    <div class="callbacks_container">
                      <ul class="rslides" id="slider4">
                        <li  *ngFor="let info of getData">                           
                               <div class="w3ls-text">
                                 <h3>{{info}}</h3>
                                 <p>dwqqqqqqqqqqqqq<span>gfhhhhhhhhhhh</span></p>
                               </div>
                        </li>
                     
                  <!--   <li>
                      <div class="w3ls-text">
                        <h3>Nam aliquam pretium</h3>
                        <p>{{getData[2]}}   Dummy Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.
                          <span>Restore Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.</span></p>
                      </div>
                      </li>
                      <li>
                      <div class="w3ls-text">
                        <h3>Duis aute irure dolor</h3>
                        <p>{{getData[1]}}
                          <span>Dummy Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.</span></p>
    
                      </div>
                      </li>
                      <li>
                      <div class="w3ls-text">
                        <h3>Ipsim aliquam pretium</h3>
                        <p>Manage Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.
                          <span>Store Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.</span></p>
    
                      </div>
                      </li>
                      <li>
                      <div class="w3ls-text">
                        <h3>Ram aliquam pretium</h3>
                        <p>Herpue Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknowns.</span></p>
    
                      </div>
                      </li> -->
                      
                    </ul>
                  </div>
                 
                <!--banner Slider starts Here-->
                  </div>
                </div>
    
            </div>
            <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    </div>